.flavor-root {
    justify-content: center;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.flavor-root.visible {
    display: flex;
}

.flavor-panel {
    background-color: rgba(0, 0, 0, 0.294);
    border-radius: 6px;
    padding: 8px 20px;
    align-items: center;
}

.flavor-label {
    color: rgb(255, 69, 61);
    font-size: 35px;
    -unity-text-align: middle-center;
    white-space: nowrap;
    -unity-text-outline-width: 2px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-text-outline-color: rgba(251, 68, 60, 0.686);
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Assets/Fonts/Jaini-Regular.ttf?fileID=12800000&guid=f87297ce785d8694c9876678ba95904d&type=3#Jaini-Regular");
    text-shadow: -5px 10px 0 rgb(0, 0, 0);
    letter-spacing: 0;
}
