:root {
    --color-card-active: rgb(70, 110, 170);
    --color-card-waiting: rgb(50, 55, 65);
    --color-card-border-waiting: rgba(255, 255, 255, 0.2);
    --card-padding: 10px;
    --card-padding-active: 0px;
    --icon-size-active: 80px;
    --icon-size-waiting: 50px;
    --unity-metrics-single_line-height: 20px;
}

.turn-order-container {
    background-color: rgba(20, 20, 30, 0.8);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.turn-list {
    width: 100%;
    background-color: transparent;
    border-width: 0;
}


.turn-list > .unity-scroll-view {
    background-color: transparent;
}

.turn-list .unity-list-view__item {
    margin: 0;
    padding: 0;
    background-color: transparent; 

}

.card-container {
    padding-top: var(--card-padding);
    padding-bottom: var(--card-padding);
}

.turn-card {
    background-color: var(--color-card-waiting);
    border-radius: 8px;
    border-width: 2px;
    border-color: var(--color-card-border-waiting);
    flex-direction: row;
    align-items: center;
    overflow: visible;
    margin-left: 10%;
    margin-right: 30%;
}

.turn-card--active {
    border-color: var(--color-card-border-waiting);
    padding-top: var(--card-padding-active);
    padding-bottom: var(--card-padding-active);
    border-width: 3px;
    margin-right: 10%;
}

.turn-card--waiting {
    height: var(--card-height-waiting);
    opacity: 0.9;
}

.turn-card__icon-container {
    width: var(--icon-size-waiting);
    height: var(--icon-size-waiting);
    flex-shrink: 0;
    margin-right: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
}

.turn-card__icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -unity-background-scale-mode: scale-and-crop;
    background-color: rgb(40, 40, 50);
}

.turn-card--active .turn-card__icon-container {
    /* width: var(--icon-size-active);
    height: var(--icon-size-active); */
    translate: -18px 0;
}

.turn-card--active .turn-card__icon {
    border-width: 3px;
    border-color: var(--color-card-border-active);
}

.turn-card__info {
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    padding-left: 5px;
}

.turn-card__name {
    font-size: 13px;
    color: rgb(230, 230, 230);
    -unity-font-style: bold;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.turn-card--active .turn-card__name {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.turn-card__hp {
    font-size: 11px;
    color: rgb(180, 180, 180);
}

.turn-card--active .turn-card__hp {
    font-size: 13px;
    -unity-font-style: bold;
}
