.container {
    justify-content: flex-end;
    align-items: flex-start;
    width: 130px;
    height: auto;
    margin-right: 10px;
    margin-left: 5px;
}

.character-portrait {
    -unity-background-scale-mode: scale-to-fit;
    margin-left: 0;
    width: 70%;
    height: auto;
    aspect-ratio: 1;
}

.health-container {
    width: 90%;
}

.health-bar {
    width: 90%;
    height: 20px;
    background-color: rgb(30, 30, 30);
    border-radius: 4px;
    border-width: 2px;
    border-color: rgb(10, 10, 10);
    align-items: stretch;
    justify-content: flex-start;
    align-self: flex-end;
}

.health-label {
    position: absolute;
    top: -30px;
    right: -22px;
    color: white;
    -unity-font-style: bold;
    -unity-text-align: middle-right;
    font-size: 18px;
    -unity-font-definition: url("project://database/Assets/Fonts/Jaini-Regular.ttf?fileID=12800000&guid=f87297ce785d8694c9876678ba95904d&type=3#Jaini-Regular");
}
