:root {
    --color-card-active: rgb(70, 110, 170);
    --color-card-waiting: rgb(50, 55, 65);
    --color-card-border-waiting: rgba(255, 255, 255, 0.2);
    --icon-size-active: 150px;
    --icon-size-waiting: 75px;
}

.card-container {
    margin-top: 10px;
}

.turn-card-wrapper {
    justify-content: flex-end;
}

.turn-card-wrapper--active {
    overflow: visible;
    width: 300px;
    height: 150px;
}

.turn-card {
    background-color: var(--color-card-waiting);
    border-radius: 8px;
    border-color: var(--color-card-border-waiting);
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
}

.turn-card-wrapper--active .turn-card {
    height: 75%;
}

.turn-card-wrapper--waiting {
    opacity: 0.9;
    flex-shrink: 0;
    overflow: hidden;
    width: 225px;
    height: 75px;
    margin: 5px 0;
}

.turn-card-wrapper--waiting .turn-card {
    height: 100%;
}

.turn-card__icon-container {
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.turn-card-wrapper--active .turn-card__icon-container {
    left: 30px;
    bottom: 25px;
}

.turn-card-wrapper--waiting .turn-card__icon-container {
    left: 15px;
    bottom: 0;
}

.turn-card__icon {
    width: var(--icon-size-active);
    height: var(--icon-size-active);
}

.turn-card-wrapper--waiting .turn-card__icon {
    width: var(--icon-size-waiting);
    height: var(--icon-size-waiting);
}

.av-label {
    bottom: 5px;
    right: 10px;
    position: absolute;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    -unity-text-align: lower-center;
    -unity-text-outline-width: 0.5px;
    font-size: 15px;
}
