:root {
    --color-card-active: rgb(70, 110, 170);
    --color-card-waiting: rgb(50, 55, 65);
    --color-card-border-waiting: rgba(255, 255, 255, 0.2);
    --icon-size-active: 150px;
    --icon-size-waiting: 75px;
}

.turn-order-container {
    background-color: rgba(20, 20, 30, 0.8);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.turn-list {
    width: 100%;
    background-color: transparent;
    border-width: 0;
}

.turn-list > .unity-scroll-view {
    background-color: transparent;
}

.turn-list .unity-list-view__item {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.card-container {
    overflow: visible;
    justify-content: center;
}

.turn-card {
    background-color: var(--color-card-waiting);
    border-radius: 8px;
    border-color: var(--color-card-border-waiting);
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}

.turn-card--active {
    flex-shrink: 0;
    overflow: visible;
    max-height: 120px;
}

.turn-card--waiting {
    height: var(--card-height-waiting);
    opacity: 0.9;
    max-width: 225px;
    max-height: 75px;
    flex-shrink: 0;
}

.turn-card__icon-container {
    width: var(--icon-size-waiting);
    height: var(--icon-size-waiting);
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.turn-card--active .turn-card__icon-container {
    left: 30px;
    bottom: 0;
    width: var(--icon-size-active);
    height: var(--icon-size-active);
}

.turn-card--waiting .turn-card__icon-container {
    left: 15px;
    bottom: 0;
}

.turn-card__icon {
}
