Label {
    text-align: center;
    color: white;
    font-size: 104px;
    -unity-text-align: middle-center;
}

.container {
    position: absolute;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    translate: -50% -50%;
}

.cooldown {
    font-size: 200px;
    -unity-text-align: middle-center;
    text-overflow: ellipsis;
    color: rgb(154, 43, 27);
}
