Label {
    text-align: center;
    color: white;
    font-size: 104px;
    -unity-text-align: middle-center;
}

.container {
    position: absolute;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    translate: -50% -50%;
}

.cooldown {
    font-size: 200px;
    -unity-text-align: middle-center;
    text-overflow: ellipsis;
    color: rgb(154, 43, 27);
}

.current-counter-wrapper {
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
}

.awakening-preview {
    position: absolute;
    top: 5px;
    right: -20px;
    font-size: 50px;
    -unity-text-align: middle-right;
    color: rgb(68, 255, 0);
    opacity: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
