.status-container {
    position: absolute;
    translate: -50% -50%;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    width: 0;
    height: 0;
}

.interaction-button {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    translate: -50% -50%;
    margin: 0;
}

.interaction-button__icon {
    width: 70%;
    height: 70%;
    -unity-background-scale-mode: scale-to-fit;
}

.interaction-button:disabled {
    opacity: 0.4;
}

.equipment-status {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgba(0, 0, 0, 0.6);
}

.equipment-status__icon {
    position: absolute;
    left: 37px;
    top: 37px;
    width: 76px;
    height: 76px;
    -unity-background-scale-mode: scale-to-fit;
}

.equipment-status__mask {
    position: absolute;
    left: 37px;
    top: 37px;
    width: 76px;
    height: 76px;
}
