.status-container {
    position: absolute;
    translate: -50% -50%;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    width: 0;
    height: 0;
}

.interaction-button {
    width: 87.5px;
    height: 87.5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    translate: -50% -50%;
    margin: 0;
}

.interaction-button__icon {
    width: 70%;
    height: 70%;
    -unity-background-scale-mode: scale-to-fit;
}

.interaction-button:disabled {
    opacity: 0.4;
}

.equipment-status {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.equipment-status__icon {
    width: 70%;
    height: 70%;
    -unity-background-scale-mode: scale-to-fit;
}

.equipment-status__mask {
    position: absolute;
    width: 100%;
    height: 100%;
}
